{% load static %}
<!-- Hero Section -->
<header class="relative h-[80vh] bg-cover bg-center bg-[url('{% static 'banner/banner-2.jpg' %}')]">

    <!-- Overlay -->
    <div class="absolute inset-0 bg-gradient-to-t from-zinc-950 to-zinc-700 opacity-70"></div>

    <!-- Banner Content -->
    <div class="relative z-10 flex flex-col items-center justify-center h-full text-center text-white px-4">
        <h1 class="text-5xl md:text-7xl font-bold">Capture the World Through the Lens</h1>
        <p class="mt-4 text-lg md:text-2xl text-gray-300">Explore nature, art, and travel in vivid detail</p>
    </div>

    <!-- Scroll Indicator -->
    <div class="absolute flex flex-col items-center bottom-6 left-1/2 transform -translate-x-1/2">
        <span class="mb-2 text-sm">Scroll Down</span>
        <img src="{% static 'icons/arrow-down.png' %}" alt="Scroll Down Arrow" class="w-6 h-6 animate-bounce">
    </div>

    <!-- Filter Section -->
    <section class="relative z-10 mt-8 hidden md:flex justify-center">
        <div class="flex gap-x-4">
            <!-- Link buttons to corresponding sections -->
            <a href="#nature"
                class="text-xl px-4 py-2 text-gray-400 hover:text-[#E76F51] transition-all duration-300">Nature</a>
            <a href="#art"
                class="text-xl px-4 py-2 text-gray-400 hover:text-[#E76F51] transition-all duration-300">Art</a>
            <a href="#events"
                class="text-xl px-4 py-2 text-gray-400 hover:text-[#E76F51] transition-all duration-300">Travel</a>
        </div>
    </section>
</header>