{% load static %}
<!-- Navbar -->
<nav class="bg-zinc-950 shadow-md p-4 fixed w-full z-50">
    <div class="container mx-auto flex justify-between items-center">
        <!-- Logo Image -->
        <a href="#" class="flex items-center">
            <img src="{% static 'logos/logo-photogallery2.png' %}" alt="Logo" class="h-8 sm:h-10 md:h-12 w-auto">
        </a>
        <!-- Navigation Links -->
        <div class="flex gap-x-2 sm:gap-x-4">
            <a href="#nature"
                class="text-sm sm:text-base md:text-xl px-2 sm:px-3 md:px-4 py-1 sm:py-2 text-gray-400 hover:text-[#E76F51] cursor-pointer transition-all duration-300">Nature</a>
            <a href="#art"
                class="text-sm sm:text-base md:text-xl px-2 sm:px-3 md:px-4 py-1 sm:py-2 text-gray-400 hover:text-[#E76F51] cursor-pointer transition-all duration-300">Art</a>
            <a href="#travel"
                class="text-sm sm:text-base md:text-xl px-2 sm:px-3 md:px-4 py-1 sm:py-2 text-gray-400 hover:text-[#E76F51] cursor-pointer transition-all duration-300">Travel</a>
        </div>
    </div>
</nav>